<div class="card bg-base-100 w-full shadow-sm animate-fade-in">
  <figure>
    <img [src]="product().images | productImage" [alt]="product().title" />
  </figure>
  <div class="card-body">
    <h2 [routerLink]="['/product', product().slug ]" class="card-title font-montserrat text-primary text-lg cursor-pointer hover:text-underline">
      {{ product().title }}
    </h2>
    <p>{{ product().description | slice: 0 : 70 }}</p>
    <div class="card-actions justify-end">
      <a [routerLink]="['/product', product().slug ]" class="link link-accent">Ver producto</a>
    </div>
  </div>
</div>
