<label class="floating-label input w-full">
  <!-- Svg -->
  <ng-content />
  <!-- Input -->
  <input [type]="type()"
    [placeholder]="label()"
    class="input-md grow"
    [formControl]="control()"
    (input)="onInput($event)"
  />
  <span>{{ label() }}</span>
  @if (inputPassword()) {
  <button type="button" (click)="togglePassword()" class="cursor-pointer rounded-full h-5 w-[24.45px] flex justify-center items-center hover:bg-gray-500">
    @if (type() === 'password') {
      <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none" />
        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
          <path
            d="M21.257 10.962c.474.62.474 1.457 0 2.076C19.764 14.987 16.182 19 12 19s-7.764-4.013-9.257-5.962a1.69 1.69 0 0 1 0-2.076C4.236 9.013 7.818 5 12 5s7.764 4.013 9.257 5.962" />
          <circle cx="12" cy="12" r="3" />
        </g>
      </svg>
    } @else {
      <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none" />
        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
          <path d="M6.873 17.129c-1.845-1.31-3.305-3.014-4.13-4.09a1.69 1.69 0 0 1 0-2.077C4.236 9.013 7.818 5 12 5c1.876 0 3.63.807 5.13 1.874" />
          <path d="M14.13 9.887a3 3 0 1 0-4.243 4.242M4 20L20 4M10 18.704A7.1 7.1 0 0 0 12 19c4.182 0 7.764-4.013 9.257-5.962a1.694 1.694 0 0 0-.001-2.078A23 23 0 0 0 19.57 9" />
        </g>
      </svg>
    }
  </button>
  }
</label>

@if (formUtils.isValidField(form(), controlName())) {
  <span class="text-xs text-red-500">
      {{ formUtils.getFieldError(form(), controlName()) }}
  </span>
}
